body {
  width: 100%;
}

.nav-container {
  background-image: url("https://i.postimg.cc/wB8PSTdW/Header-Background-bigger.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: end;
  align-content: flex-end;
  height: 373px;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*.nav-section {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  height: 373px;
  margin-top: 200px;
  margin-left: 20px;
}
.nav-div {
  margin: 10px;
  white-space: nowrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #7b3f00;
  padding: 10px;
}
.search-icon {
  position: relative;
  width: 25px;
  height: 25px;
  top: 20px;
  left: 30px;
}
*/
#header {
  height: 350px;
  background-image: url("/images/background-1.png");
  background-repeat: no-repeat;
}
.top {
  display: flex;
}
.logo {
  padding: 20px;
  padding-left: 120px;
}
.pageTitle {
  color: #01386a;
  font-family: "Bitter";
  padding: 40px;
  padding-left: 10px;
}
.pageTitle h1 {
  font-size: 50px;
  font-weight: 500;
}
.pageTitle h3 {
  font-weight: 300;
  font-size: 24px;
  margin-top: -30px;
}
.nav {
  padding-left: 100px;
  font-family: "Sen";
}
.nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #633301;
}
.nav a img {
  padding: 3px;
}
.button1 {
  border-radius: 30px;
  background-color: #8e5315;
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  font-family: "Sen";
  font-size: 22px;
  font-weight: 500;
}

.hero-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 616px;
  display: inline-block;
}
.hero-image img {
  display: block;
  width: 100%;
  height: auto;
}
.hero-image h2 {
  position: absolute;
  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  font-size: 64px;
  text-align: center;
  font-family: "Sen", sans-serif;
}
.parentContainer {
  display: flex;
  padding-bottom: 25px;
}
.left-container {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
  padding-left: 150px;
}
.right-container {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
  padding-left: 150px;
  color: #01386a;
  font-size: 20px;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
}
.title h3 {
  font-size: 40px;
  color: #01386a;
  font-family: "Open Sans";
  text-align: center;
}
.message-us {
  color: #01386a;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  word-wrap: break-word;
  font-family: "Bitter", serif;
}

.form {
  color: #01386a;
  font-size: 22px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
/*.right-container{
  color: #01386A;
  font-size: 20px;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
}*/
.Submitbutton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: #2881d2;
  color: #ffffff;
  border-radius: 32px;
  width: 162px;
  height: 48px;
  display: flex;
  justify-content: center;
}
.middleSection {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
}
.center {
  align-items: center;
}
.smallLineheight {
  line-height: 1;
}
.right-container .contact-deets {
  color: #01386a;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  word-wrap: break-word;
  font-family: "Bitter", serif;
}
.right-container {
  color: #01386a;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
}
span {
  color: red;
}

/*.Letter {
  display:inline-block;
  width: 25px;
  height: 25px;
}*/
/*.Letter{
  float:left;
}

.phone {
  width: 25px;
  height: 25px;
  top: 14px;
  left: 0;

.mailbox{
  width: 25px;
  height: 25px;
  top: 14px;
  left: 0;

  .pin{
  width: 25px;
  height: 25px;
  top: 14px;
  left: 0;
  }
*/

.footer {
  background-image: url(/images/background-image-1.png);
  background-repeat: no-repeat;
}
.footer .top {
  height: 250px;
  display: flex;
  padding-top: 50px;
}
.top .left {
  padding-left: 50px;
  height: 250px;
  font-family: "Open Sans";
  color: #135997;
}
.top .left img {
  padding-right: 5px;
}
.top .left p {
  margin: 5px;
}
.top .mid p {
  font-family: "Open Sans";
  font-size: 20px;
  background: linear-gradient(to right, #8e5315, #64a3dd, #94763a, #62acec);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.top .mid {
  padding-left: 180px;
  height: 250px;
}
.top .right {
  padding-top: 0;
  height: 300px;
  padding-left: 300px;
}
.footer .bottom {
  color: #8e5315;
  padding: 60px;
  padding-left: 50px;
}
@media screen (max-width: 600px) {
}
